In [2]:
# hello 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Understanding the dataset

In [37]:
# Our merged dataset
final = pd.read_csv('Data/final_dataset.csv')
final.head()

,name,id,minutes,ingredients,n_ingredients,ingredient_ids
0,arriba baked winter squash mexican style,137739,55,"['winter squash', 'mexican seasoning', 'mixed ...",7,"[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,a bit different breakfast pizza,31490,30,"['prepared pizza crust', 'sausage patty', 'egg...",6,"[5481, 6324, 2499, 4717, 6276, 1170]"
2,alouette potatoes,59389,45,"['spreadable cheese with garlic and herbs', 'n...",11,"[1170, 4918, 6426, 5185, 7099, 5006, 6009, 627..."
3,apple a day milk shake,5289,0,"['milk', 'vanilla ice cream', 'frozen apple ju...",4,"[4717, 7474, 2946, 150]"
4,aww marinated olives,25274,15,"['fennel seeds', 'green olives', 'ripe olives'...",9,"[2587, 3437, 5002, 3184, 5324, 5068, 5058, 131..."

In [38]:
# Raw recipes dataset
df2_raw = pd.read_csv('Data/RAW_interactions.csv')
df2_raw.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [42]:
print(f'The shape of our dataset {final.shape}')
print(f'The shape of our dataset {df2_raw.shape}')

The shape of our dataset (178265, 6)
The shape of our dataset (1132367, 5)

In [43]:
# Plot count of reviews

df2_raw['recipe_id'].value_counts().sort_values().plot(kind = 'barh')

KeyboardInterrupt:

In [33]:
# Raw recipes dataset
df3_raw = pd.read_csv('Data/RAW_interactions.csv')
df3_raw.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."