In [3]:
# hello 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Understanding the dataset

In [35]:
# Read compressed csv with built-in gzip support
final3= pd.read_csv('../Data/final_datav3.csv', compression='gzip')
final3

,name,id,minutes,ingredients,n_ingredients,ingredient_ids
0,arriba baked winter squash mexican style,137739,55,"['winter squash', 'mexican seasoning', 'mixed ...",7,"[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,a bit different breakfast pizza,31490,30,"['prepared pizza crust', 'sausage patty', 'egg...",6,"[5481, 6324, 2499, 4717, 6276, 1170]"
2,alouette potatoes,59389,45,"['spreadable cheese with garlic and herbs', 'n...",11,"[1170, 4918, 6426, 5185, 7099, 5006, 6009, 627..."
3,apple a day milk shake,5289,0,"['milk', 'vanilla ice cream', 'frozen apple ju...",4,"[4717, 7474, 2946, 150]"
4,aww marinated olives,25274,15,"['fennel seeds', 'green olives', 'ripe olives'...",9,"[2587, 3437, 5002, 3184, 5324, 5068, 5058, 131..."
...,...,...,...,...,...,...
178260,zydeco green beans,185979,20,"['garlic cloves', 'yellow mustard seeds', 'fre...",8,"[3203, 7978, 2725, 1336, 2794, 7803, 7655, 5369]"
178261,zydeco salad,367912,5,"['iceberg lettuce', 'tomatoes', '3 bean mix', ...",4,"[4308, 7213, 13, 5007]"
178262,zydeco sauce,357451,15,"['mayonnaise', 'prepared horseradish', 'worces...",6,"[4623, 3758, 7946, 7839, 7049, 5975]"
178263,zydeco shrimp wrap,188810,57,"['white rice', 'vegetable oil', 'onion', 'gree...",11,"[7783, 7557, 5010, 3399, 1130, 7233, 7946, 381..."
178264,zydeco ya ya deviled eggs,308080,40,"['hard-cooked eggs', 'mayonnaise', 'dijon must...",8,"[3627, 4623, 2148, 905, 7049, 6270, 590, 2822]"

In [36]:
# Pickle a file and then compress it into a file with extension 
import bz2
import pickle
import _pickle as cPickle

# Load any compressed pickle file
def decompress_pickle(file):
 data = bz2.BZ2File(file, 'rb')
 data = cPickle.load(data)
 return data


data_reviews = decompress_pickle('../Data/reviews_zipped.pbz2') 
data_reviews.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [37]:
print(f'The shape of our dataset {final3.shape}')
print(f'The shape of our dataset {data_reviews.shape}')

The shape of our dataset (178265, 6)
The shape of our dataset (1132367, 5)