In [1]:
# hello 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

import os
import sys
sys.path.append(os.path.abspath("/Users/lucialarraona/Desktop/finalproject_socialgraphs22/Notebooks"))

from helper_functions import  *

# Understanding the dataset

In [2]:
#import ast

#def convert_type(string):
#    a_list = ast.literal_eval(string) 
#    return a_list

#final3['ingredients'] = final3['ingredients'].apply(lambda x: convert_type(x))
#final3['ingredient_ids'] = final3['ingredient_ids'].apply(lambda x: convert_type(x))

In [11]:
final4 = decompress_pickle('../Data/file4.pbz2') 
final4.head()

,name,id,minutes,ingredients,n_ingredients,ingredient_ids
0,arriba baked winter squash mexican style,137739,55,"[winter squash, mexican seasoning, mixed spice...",7,"[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,a bit different breakfast pizza,31490,30,"[prepared pizza crust, sausage patty, eggs, mi...",6,"[5481, 6324, 2499, 4717, 6276, 1170]"
2,alouette potatoes,59389,45,"[spreadable cheese with garlic and herbs, new ...",11,"[1170, 4918, 6426, 5185, 7099, 5006, 6009, 627..."
3,apple a day milk shake,5289,0,"[milk, vanilla ice cream, frozen apple juice c...",4,"[4717, 7474, 2946, 150]"
4,aww marinated olives,25274,15,"[fennel seeds, green olives, ripe olives, garl...",9,"[2587, 3437, 5002, 3184, 5324, 5068, 5058, 131..."

In [13]:
# Pickle a file and then compress it into a file with extension 
data_reviews = decompress_pickle('../Data/reviews_zipped.pbz2') 
data_reviews.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [15]:
print(f'The shape of our dataset 1 {final4.shape}')
print(f'The shape of our dataset 2 {data_reviews.shape}')

The shape of our dataset 1 (178265, 6)
The shape of our dataset 2 (1132367, 5)